name: Go

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:

  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6

    - name: Set up Go
      uses: actions/setup-go@v6
      with:
        go-version: 'stable'

    - name: Create Fake LiveSplit Files
      run: |
        touch LiveSplit.AutoSplitters.xml
        touch LiveSplit.HollowKnight.dll

    - name: Set Go Env
      run: |
        go env -w GOOS=windows
        go env -w GOARCH=amd64

    - name: golangci-lint
      uses: golangci/golangci-lint-action@v7
      with:
        version: latest

    - name: Build
      run: go build -v ./...
